extends base

block content
  h3 Hi #{firstName},
  h3 Let's reset your password 
  h4 If you want to reset your survey password, use the button below.This will take you to the secure page to reset your password
 
  table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation' border='0' cellpadding='0' cellspacing='0')
            tbody
              tr
                td
                  a.btn-a.btn-primary-a(href=`${url}` target='_blank') Reset password
  h4.text If button not enable please click below link
  a(href=`${url}` target='_blank') #{url}                 
  h4.text If you don't want to reset your password, please ignore this message.
  h4.footer-text-h4 Happy collaborating,
  h4.text The Aims Team
